/* STYLE SECTIONS
1. GLOBAL

2. ANIMATIONS

3. SPECIFIC COMPONENTS

4. MEDIA QUERIES
*/


/* 1. Global */

/* 2. Animations */


/* 3. Components */

/* NavBar */
header {
    margin-bottom: 2rem;
}

#menu {
    height: fit-content;
    display: flex;
    justify-content: flex-end;
}

#menu-button {
    height: fit-content;
    width: 5rem;
}

#logo {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    margin-bottom: 1rem;
}

#logo>img {
    margin: auto 0;
    width: 275px;
    height: 275px;
}

/* .MuiTab-root{
        cursor: pointer;
    } */

.MuiTabs-flexContainer {
    display: flex;
    justify-content: space-around;
}

.MuiTab-root {
    color: #995112 !important;
}

/* Footer */
footer {
    margin-top: 3rem;
}

/* Form */
#form-box {
    background-color: rgba(1, 208, 254, 0.095);
    border: 1px solid black;
    padding: 5px;
    border-radius: 1rem;
    margin: 0 auto;
    width: 40%;
}

.form-field {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.time-input {
    width: 50%;
}

.photo {
    width: 50%;
}

.limit-text {
    color: slategrey;
}

/* Dashboard */
.recipe-container {
    display: grid;
    padding: 1.5rem;
    width:100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;

} 
#recipe-card-img{
    transition: opacity .5s ease-in;
    opacity: .8;
}
#recipe-card-img:hover{
    cursor: pointer;
    opacity: 1;
}

.card.dashboard-card{
    position: relative;
    overflow: visible;
}
.update-button{
    z-index: 100;
    position: absolute;
    top: -20px;
    right: -20px;
}
/* Recipe View */

.recipe-view-card{
    padding: 2rem;
    border: black solid .5px;
    width: 80%;
    margin: 0 auto;
    border-radius: 1rem;
}
.recipe-view-header{
    display: flex;
    align-items: flex-end;
    flex: 0 1 auto;
    margin-bottom:  1rem;
}

.recipe-view-header > img {
    width: 200px;
    height: 200px;
    flex: 0 1 auto;
    border-radius: 1rem;
}

#ingrd-intsr{
    margin-top: 1rem;
    display: flex;
    grid-template-columns: repeat(1fr,2);
    justify-content: center;
    column-gap: 8rem;
}

.recipe-view-lists{
    overflow: scroll;
}

.MuiFormControlLabel-label{
    font-size: 1.3rem !important;
}

.completed-list-item, .completed-list{
    text-decoration: line-through !important;
}
/* 4. Media Queries */