/* STYLE SECTIONS
1. GLOBAL

2. ANIMATIONS

3. SPECIFIC COMPONENTS

4. MEDIA QUERIES
*/


/* 1. Global */

/* 2. Animations */


/* 3. Components */

/* NavBar */
header {
    margin-bottom: 2rem;
}

#menu {
    height: fit-content;
    display: flex;
    justify-content: flex-end;
}

#menu-button {
    height: fit-content;
    width: 5rem;
}

#logo {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    margin-bottom: 1rem;
}

#logo>img {
    margin: auto 0;
    width: 275px;
    height: 275px;
}

/* .MuiTab-root{
        cursor: pointer;
    } */

.MuiTabs-flexContainer {
    display: flex;
    justify-content: space-around;
}

.MuiTab-root {
    color: #995112 !important;
}

/* Footer */
footer {
    margin-top: 3rem;
}

/* Form */
#form-box {
    background-color: rgba(1, 208, 254, 0.095);
    border: 1px solid black;
    padding: 5px;
    border-radius: 1rem;
    margin: 0 auto;
    width: 40%;
}

.form-field {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.time-input {
    width: 50%;
}

.photo {
    width: 50%;
}

.limit-text {
    color: slategrey;
}

/* Dashboard */
.recipe-container {
    display: grid;
    padding: 1.5rem;
    width:100%;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4rem;
} 
#recipe-card{
    transition: transform .5s ease-in-out;
}
#recipe-card:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/* Recipe View */

.recipe-view-card{
    padding: 2rem;
    border: black solid .5px;
    width:fit-content;
    margin: 0 auto;
    border-radius: 1rem;
}
.recipe-view-header{
    display: flex;

}

.recipe-view-header > img {
    width: 200px;
}

/* 4. Media Queries */