/* STYLE SECTIONS
1. GLOBAL

2. ANIMATIONS

3. SPECIFIC COMPONENTS

4. MEDIA QUERIES
*/


/* 1. Global */
/* 2. Animations */


/* 3. Components */

    /* NavBar */
    #menu{
        height: fit-content;
        display: flex;
        justify-content: flex-end;
    }
    #menu-button{
        height: fit-content;
        width: 5rem;
    }
    #logo{
        display: grid;
        grid-template-rows: auto;
        justify-content: center;
        margin-bottom: 1rem;
    }
    #logo > img{
        margin: auto 0;
        width: 275px;
        height: 275px;
    }

    /* .MuiTab-root{
        cursor: pointer;
    } */

    .MuiTabs-flexContainer{
        display: flex;
        justify-content: space-around;
    }
    .MuiTab-root{
        color: #995112 !important;
    }

/* 4. Media Queries */